body{
  color:black;
}
.iama li{
	list-style-type:none;
  background-image:url('https://i.imgur.com/ipJnzfB.png');
  background-size:30px 45px;
  background-repeat:no-repeat;
  padding-bottom:10px;
  padding-top:10px;
  margin-right:10px;
  padding-left:40px;
}
.sidebar li{
	list-style-type:none;
  background-image:url('https://i.imgur.com/ipJnzfB.png');
  background-size:30px 45px;
  background-repeat:no-repeat;
  padding-bottom:10px;
  padding-top:10px;
  margin-right:10px;
  padding-left:40px;
}