body{
  color:black;
}
.iama li{
	list-style-type:none;
  background-image:url('https://i.imgur.com/ipJnzfB.png');
  background-size:30 px 45 px;
  background-repeat:no-repeat;
  padding-bottom:10 px;
  padding-top:10 px;
  margin-right:10 px;
  padding-left:40 px;
}
.sidebar li{
	list-style-type:none;
  background-image:url('https://i.imgur.com/ipJnzfB.png');
  background-size:30 px 45 px;
  background-repeat:no-repeat;
  padding-bottom:10 px;
  padding-top:10 px;
  margin-right:10 px;
  padding-left:40 px;
}
